<link rel="stylesheet/less" type="text/css" href="./css/navbar.scss"> 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href=<%- ("./dashboard") %>> iCars</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              aria-expanded="false"
            >
              Services
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
        <a class="btn btn-outline-primary" style="margin-right: 20px;">
          Get Appointment
        </a>
        <a class="btn btn-danger" id="logoutBtn" href="./">
          Log Out
        </a>
      </div>
    </div>
  </nav>
  <script>
    let logout=document.getElementById('logoutBtn');
    logout.addEventListener('click',()=>{
      localStorage.clear();
      sessionStorage.clear();
    })
  </script>
