@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
.db-body{
    /* background-image: url(../images/planegreen.jpg); */
    background-size: cover;
    background-color: black;
    color:white;
    font-family: 'Montserrat' !important;
}
.heading{
  margin-top: 1rem;
  text-align: center;
    font-size: 6rem;
}
.UR-form{
    margin: auto;
    margin-top: 2rem;
    padding: 2rem 2rem 1rem 2rem;
    width: 35rem;
    border-radius:20px;
    margin-bottom: 2rem;
}
.dropForServicings{
   height: 1.8rem;

}
.dropdown-menu label {
    display: block;
  }

.dropForServicings{
    * {
        box-sizing: border-box;
      }
      
      a {
        text-decoration: none;
        color: #379937;
      }
      
      body {
        margin: 40px;
      }
      
      .dropdown {
        color: black;
        background-color: white;
        .dropdown-list {
          padding: 12px;
          background: #fff;
          position: absolute;
          top: 30px;
          left: 2px;
          right: 2px;
          box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
          transform-origin: 50% 0;
          transform: scale(1, 0);
          transition: transform .15s ease-in-out .15s;
          max-height: 20vh;
          overflow-y: scroll;
        }
        
        .dropdown-option {
          display: block;
          padding: 8px 12px;
          opacity: 0;
          transition: opacity .15s ease-in-out;
        }
        
        .dropdown-label {
          display: block;
          padding: 6px 12px;
          cursor: pointer;
          
          &:before {
            content: '▼';
            float: right;
          }
        }
        
        &.on {
         .dropdown-list {
            transform: scale(1, 1);
            transition-delay: 0s;
            
            .dropdown-option {
              opacity: 1;
              transition-delay: .2s;
            }
          }
          
          .dropdown-label:before {
            content: '▲';
          }
        }
        
        [type="checkbox"] {
          position: relative;
          top: -1px;
          margin-right: 4px;
        }
      }
}
.date_of_appointment{
  margin-bottom: 1rem;
}
.dates{
  width:31rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0.5rem;
  padding:1rem;
  border: none;
  height: 2rem;
}

.urf-address{
  height: 8rem;
}