@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
.db-body{
    /* background-image: url(../images/planegreen.jpg); */
    background-size: cover;
    background-color: black;
    color:white;
    font-family: 'Montserrat' !important;
}
.heading{
  margin-top: 1rem;
  text-align: center;
    font-size: 6rem;
}
.UR-form{
    margin: auto;
    margin-top: 2rem;
    padding: 2rem 2rem 1rem 2rem;
    width: 35rem;
    border-radius:20px;
    margin-bottom: 2rem;
}
.dropForServicings{
   height: 1.8rem;

}
.dropdown-menu label {
    display: block;
  }

.date_of_appointment{
  margin-bottom: 1rem;
}
.license{
  margin-top: 1.3rem;
}
.dates{
  width:31rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0.2rem;
  padding:1rem;
  border: none;
  height: 2.4rem;
}

.urf-address{
  height: 8rem;
}