@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');
.db-body{
    background-image: url(../images/planegreen.jpg);
    background-size: 100rem;
    color:black;
}
.paana1{
    font-size: 10rem;
    color: blue;
}
.wlcome{
    font-family:'Source Code Pro', monospace;
    font-size: 7rem;
    position:center;
    margin:3rem 0 0 22rem ;
}
.wlcm-hand{
    width: 3rem;
    height: 3rem;
}