@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
body{
    margin:0px auto;
    padding:0px auto;
    box-sizing: border-box;
    font-family: 'Montserrat' !important;
}
.nav1{
    color: aliceblue;font-size: 20px;
    margin: 0 2rem ;
   
}
.navbar-brand{
    font-size: 2rem;
    margin-right: 30px;
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}
.login-body{
    background-image: url(../images/car.jpg);
    background-size: 50rem;
    background-position-y: 15rem;
    background-repeat: no-repeat;
    background-color: black;
}
.home{
    padding: 7rem 1rem 10rem 3rem;
    color: white;
}

.home .Sign-in{
    font-weight: bold;
    font-size: 3rem;
    color: white;
}

.home .left{
    width: 40%;
    padding-top:1rem;
    padding-right: 8rem;
}

.home .right{
    width: 40%;
    margin-left: 5rem;
    padding-left: 10rem;
}
.login-form{
    background-color:rgba(33, 151, 248, 0.3); 
    padding: 2rem 2rem 1rem 2rem;
    width: 30rem;
    border-radius: 2rem;
}
.adminBtn{
    margin-top: 1rem;
    font-size: 1.2rem;
    /* margin-left: 7rem; */
    padding:0.5rem;
    height: fit-content;
    background-color: rgb(138, 43, 226,0.1);
}
.UR-body{
    background-image: url(../images/car.jpg);
    background-size: 50rem;
    background-position-y: 15rem;
    background-repeat: no-repeat;
    background-color: black;
}
.UR-form{
    background-color:rgba(33, 151, 248, 0.3);
    margin: 2rem 0 2rem 0; 
    padding: 2rem 2rem 1rem 2rem;
    width: 35rem;
    border-radius: 2rem;
}
.UR-head{
    color:white;
   font-weight: bolder;
   font-size: 3rem;
}

.urf-namei{
    width: 25rem;
    height: 2.2rem;
    margin:2rem 3rem;
}
.urf-address{
     height: 4rem;
}
.signupBtn{
    margin-left:3.3rem;
}
.refer_back{
    color: rgb(248, 246, 246);
    margin-left:3.3rem;
    margin-top: 1rem;

}
.admin-form{
    color: aliceblue;
    margin-top: 4rem;
    font-size: large;
}
.LoginAdmin{
  font-size: 2.5rem;
   text-align: center;
   font-weight: bolder;
}
.login-admin-body{
    background-image: url(../images/car.jpg);
    background-size: 100rem;
    background-repeat: no-repeat;
    background-color: black;
}
.admin-to-login{
    color: rgb(248, 246, 246);
    margin:1rem 2.5rem 0.1rem 2.5rem;
}