@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

header{
    text-align: center;
    margin-top: 2rem;
    color: white;
}

.UR-body{
    background-color: black;
    margin:0px auto;
    padding:0px auto;
    box-sizing: border-box;
    font-family: 'Montserrat' !important;
}
.UR-form{
    margin: 1rem 0 2rem 0; 
    padding: 2rem 2rem 1rem 2rem;
    width: 35rem;
    border-radius: 2rem;
    
}

.urf-namei{
    width: 25rem;
    height: 2.2rem;
    margin:0rem 0rem;
}

.urf-named{
    margin:0 3rem 2rem 3rem ;
}


.delete-form{
    color: aliceblue;
    margin-top: 4rem;
    font-size: large;
}
