@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
.db-body{
   background-color: black;
    background-size: cover;
    color: white;
    font-family: 'Montserrat' !important;
}
.heading{
    margin: 0rem 0 0 0;
    text-align:center;
    font-size: 6rem;
}
.UR-form{
    margin: auto;
    background-color:rgba(7, 7, 7, 0.3);
    padding: 2rem 2rem 1rem 2rem;
    width: 35rem;
    border-radius: 2rem;
}

.textbox {
    height: 12.5rem;
}