@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');
.db-body{
    background-image: url(../images/planeblack.jpg);
    background-size: 100rem;
    color:black;
}
.heading{
    margin: 3rem 0 0 27.5rem;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 6rem;
}
.UR-form{
    background-color:rgba(7, 7, 7, 0.3);
    margin: 2rem 0 2rem 0; 
    padding: 2rem 2rem 1rem 2rem;
    width: 35rem;
    border-radius: 2rem;
}

.textbox {
    height: 12.5rem;
}