body{
    margin:0px auto;
    padding:0px auto;
    box-sizing: border-box;
}

.section-1{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-brand{
    font-size: 2rem;
    margin-right: 30px;
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}
.home{
    padding: 7rem 1rem 10rem 3rem;
    color: white;
}

.home .Sign-in{
    font-weight: bold;
    font-size: 3rem;
    color: white;
}

.home .left{
    width: 40%;
    padding-top:3rem;
    padding-right: 8rem;
}

.home .right{
    width: 40%;
    margin-left: 5rem;
    padding-left: 8rem;
}