<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/about.css">
  <style>
   
  </style>
  <title>About Us</title>
</head>

<%- include ("./components/navbar.ejs") %>
<body>
    <div class="about">
    <img src="/images/Transparent-Logo.png">
    <div class="container">
     <h1 class="head">About iCars</h1>
     
        <div class="data">
        iCars is a Multibrand Car Repair & Maintenance services company, working towards making your Car Service experience more convenient & reliable along with 24x7 road side assistance.<br><br>
        We are working towards organising the highly unorganised market of car and two wheeler repair and maintenance industry. At iCars, it is our attempt to flush out all the problems by providing you convenient, transparent and reliable services. We do it by offering you free pickup and drop,Trained Mechanics, Best Quality Spare Parts, Automated Workshops, Uniform & Affordable Pricing, Trained & Educated Advisors to recommend You the really required jobs</div>
    </div>
    </div>
</body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

</html>

