<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/addUpdate.css">
  <title>Add Update Customer</title>
  <style> 
    .myAlert-top{
      position: fixed;
      top: 5px; 
      left:37%;
      width: 26%;
      z-index: 10000000;
  }
  
  .myAlert-bottom{
      position: fixed;
      top: 5px;
      left:37%;
      width: 26%;
      z-index: 10000000;
  }
  
  .alert-hid{
     display:none !important;
  }
    </style>
</head>

<%- include ("components/navbar1.ejs") %>

  <body class="db-body">
    <% if(error && error.length){ %> 
      <div id="db-body" class="alert alert-danger d-flex flex-row justify-content-between align-items-center myAlert-bottom">
        <div class="d-flex flex-row justify-content-between align-items-center">
          <i class="fas fa-check-square" style="color:white;margin-right: 10px;"></i>
          <%= error %>
        </div>
        <a href="#" class="close mb-1" data-dismiss="alert" aria-label="close" onclick="myAlert()"><i class="fas fa-times" style="color:white;"></i></a>
      </div>
      <% }else if(success.length){ %>
        <div id="db-body" class="alert alert-success d-flex flex-row justify-content-between align-items-center myAlert-bottom">
          <div class="d-flex flex-row justify-content-between align-items-center">
            <i class="fas fa-check-square" style="color:white;margin-right: 10px;"></i>
            <%= success %>
          </div>
          <a href="#" class="close mb-1" data-dismiss="alert" aria-label="close" onclick="myAlert()"><i class="fas fa-times" style="color:white;"></i></a>
        </div>
        <% } %>
    <div class="sections">
      <section class="section1">
        <h3>Add Customer</h3>
        <div class="container" style="display:flex;">
          <div class="delete-form" style="margin: auto;">
            <form class="UR-form" action="/admin/addCustomer" method="POST">
              <div class="mb-3">
                <input name="name" type="text" required class="form-control urf-namei" id="formGroupExampleInput"
                  placeholder="Name">
              </div>
              <div class="mb-3">
                <!-- <label for="formGroupExampleInput" class="form-label urf-name">Email</label> -->
                <input name="email" type="email" required class="form-control urf-namei" id="formGroupExampleInput"
                  placeholder="Email">
              </div>
              <div class="mb-3">
                <input type="password" name="password" required class="form-control urf-namei"
                  id="formGroupExampleInput" placeholder="Password">
              </div>

              <div class="mb-3">
                <textarea name="street" class="form-control urf-namei urf-address" aria-label="address"
                  placeholder="Address"></textarea>
              </div>
              <div class="mb-3">
                <input type="text" name="city" required class="form-control urf-namei" id="formGroupExampleInput"
                  placeholder="City">
              </div>
              <div class="mb-3">
                <input type="text" name="state" required class="form-control urf-namei" id="formGroupExampleInput"
                  placeholder="State">
              </div>
              <div class="mb-3">
                <!-- <label for="formGroupExampleInput" class="form-label urf-name">Email</label> -->
                <input name="mobile" type="mobile" required class="form-control urf-namei" id="formGroupExampleInput"
                  placeholder="Mobile No.">
              </div>
              <button type="submit" class="btn btn-primary signupBtn" id='signupBtn'>Add</button>
            </form>
          </div>

        </div>
      </section>

      <section class="section2">
        <center>
          <h3>Update Customer</h3>
        </center>
        <div class="container" style="display:flex;">
          <div class="delete-form" style="margin: auto;">
            <form class="UR-form" action="/admin/updateCustomer" method="POST">
              <div class="mb-3 urf-named">
                <input name="id" type="text" required class="form-control urf-namei" id="formGroupExampleInput1"
                  placeholder="Customer ID">
              </div>
              <div class="mb-3 urf-named">
                <p>Which field do you want to update?</p>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                    checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Name
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    email
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                  <label class="form-check-label" for="exampleRadios3">
                    Street
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
                  <label class="form-check-label" for="exampleRadios4">
                    City
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5">
                  <label class="form-check-label" for="exampleRadios5">
                    State
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios6" value="option6">
                  <label class="form-check-label" for="exampleRadios6">
                    Mobile No.
                  </label>
                </div>
              </div>
              <div class="mb-3 urf-named">
                <input name="correctedInfo" type="text" required class="form-control urf-namei"
                  id="formGroupExampleInput2" placeholder="Write the updated Value">
              </div>
              <button type="submit" class="btn btn-primary signupBtn" id='updateBtn'>Update</button>
            </form>
          </div>

        </div>
      </section>
    </div>

  </body>
  <script>

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
    <script>
      var aler =document.getElementById('db-body')
      function myAlert(){
        console.log("Closed");
        aler.className+=' alert-hid';
      }
      setTimeout(function(){
        aler.className+=' alert-hid';
      }, 3000)
    </script>

</html>