<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/addUpdate.css">
  <title>Add/Update Employee</title>
  <style> 
    .myAlert-top{
      position: fixed;
      top: 5px; 
      left:37%;
      width: 26%;
      z-index: 10000000;
  }
  
  .myAlert-bottom{
      position: fixed;
      top: 5px;
      left:37%;
      width: 26%;
      z-index: 10000000;
  }
  
  .alert-hid{
     display:none !important;
  }
  </style>
</head>

<%- include ("components/navbar1.ejs") %>

  <body class="db-body">
    <% if(error && error.length){ %> 
      <div id="db-body" class="alert alert-danger d-flex flex-row justify-content-between align-items-center myAlert-bottom">
        <div class="d-flex flex-row justify-content-between align-items-center">
          <i class="far fa-times-circle" style="color:black;margin-right: 10px;"></i>
          <%= error %>
        </div>
        <a href="#" class="close mb-1" data-dismiss="alert" aria-label="close" onclick="myAlert()"><i class="fas fa-times" style="color:black;"></i></a>
      </div>
      <% }else if(success.length){ %>
        <div id="db-body" class="alert alert-success d-flex flex-row justify-content-between align-items-center myAlert-bottom">
          <div class="d-flex flex-row justify-content-between align-items-center">
            <i class="fas fa-check-square" style="color:black;margin-right: 10px;"></i>
            <%= success %>
          </div>
          <a href="#" class="close mb-1" data-dismiss="alert" aria-label="close" onclick="myAlert()"><i class="fas fa-times" style="color:black;"></i></a>
        </div>
        <% } %>    
    <div class="sections">
      <section class="section1">
        <h3>Add Employee</h3>
        <div class="container" style="display:flex;">
          <div class="delete-form" style="margin: auto;">
            <form class="UR-form" action="/admin/addEmployee" method="POST">
              <div class="mb-3">
                <input type="text" name="name" required class="form-control" id="" aria-describedby="emailHelp"
                  placeholder="Name">
              </div>
              <div class="mb-3 form-components">
                <p>Post:</p>
                <select class="form-select" required name="post" aria-placeholder="Vehicle Type"
                  aria-label="Default select example">
                  <option name="post" value="1" selected>Ford</option>
                  <option name="post" value="2">Technician</option>
                  <option name="post" value="3">Manager</option>
                </select>
              </div>
              <div class="mb-3">
                <input type="email" name="email" required class="form-control" id="" aria-describedby="emailHelp"
                  placeholder="Email">
              </div>

              <div class="mb-3">
                <input type="number" name="mobile" required class="form-control" id="" aria-describedby="emailHelp"
                  placeholder="Mobile">
              </div>
              <div class="mb-3 urf-named">
                <textarea class="form-control urf-namei urf-address" required name="street" aria-label="address"
                  placeholder="Address"></textarea>
              </div>
              <div class="mb-3 urf-named">
                <input type="text" name="city" required class="form-control urf-namei" id="formGroupExampleInput"
                  placeholder="City">
              </div>
              <div class="mb-3 urf-named">
                <input type="text" name="state" required class="form-control urf-namei" id="formGroupExampleInput"
                  placeholder="State">
              </div>



              <button type="submit" class="btn btn-primary">Add</button>
            </form>
          </div>

        </div>
      </section>

      <section class="section2">
        <center>
          <h3>Update Employee</h3>
        </center>
        <div class="container" style="display:flex;">
          <div class="delete-form" style="margin: auto;">
            <form class="UR-form" action="/admin/updateEmployee" method="POST">
              <div class="mb-3 urf-named">
                <input name="id" type="text" required class="form-control urf-namei" id="formGroupExampleInput1"
                  placeholder="Employee ID">
              </div>
              <div class="mb-3 urf-named">
                <p>Which field do you want to update?</p>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                    checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Name
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    Post
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                  <label class="form-check-label" for="exampleRadios3">
                    Email
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
                  <label class="form-check-label" for="exampleRadios4">
                    Contact No.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5">
                  <label class="form-check-label" for="exampleRadios5">
                    Street
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios6" value="option6">
                  <label class="form-check-label" for="exampleRadios6">
                    City
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios7" value="option7">
                  <label class="form-check-label" for="exampleRadios7">
                    State
                  </label>
                </div>
              </div>
              <div class="mb-3 urf-named">
                <input name="correctedInfo" type="text" required class="form-control urf-namei"
                  id="formGroupExampleInput2" placeholder="Write the updated Value">
              </div>
              <button type="submit" class="btn btn-primary signupBtn" id='updateBtn'>Update</button>
            </form>
          </div>

        </div>
      </section>
    </div>

  </body>
  <script>
   var aler =document.getElementById('db-body')
    function myAlert(){
      console.log("Closed");
      aler.className+=' alert-hid';
    }
    setTimeout(function(){
      aler.className+=' alert-hid';
    }, 3000)
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</html>