<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <style>
      body {
        margin: 0px auto;
        padding: 0px auto;
        box-sizing: border-box;
      }

      .section-1 {
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .navbar-brand {
        font-size: 2rem;
        margin-right: 30px;
      }

      .nav-item {
        margin-left: 10px;
        margin-right: 10px;
      }
      .home {
        padding: 7rem 1rem 10rem 3rem;
        color: white;
      }

      .home .Sign-in {
        font-weight: bold;
        font-size: 3rem;
        color: white;
      }

      .home .left {
        width: 40%;
        padding-top: 3rem;
        padding-right: 8rem;
      }

      .home .right {
        width: 40%;
        margin-left: 5rem;
        padding-left: 8rem;
      }
    </style>
    <title>iCars</title>
  </head>
  <body>
    <%-body %>
  </body>
</html>
