<!-- const con = require('./sql_connect'); -->

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/services.css">
  <style>
   
  </style>
  <title>See our Services</title>
</head>

<%- include ("./components/navbar.ejs") %>

  <body>
    <div class="heading">See Our Services</div>

    <div class="tableDiv">
     <center> <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col " style="width: 60%;text-align: center;">Job-Name</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>

          <% if(userData.length!=0) { var i=1; userData.forEach(function(data){ %>
            <tr>
              <th scope="row">
                <%=data.job_id %>
              </th>
              <td style="width: 75%;text-align: center;">
                <%=data.job_name %>
              </td>
              <td>
                <%=data.price %>
              </td>
            </tr>
            <% i++; }) %>
              <% } else{ %>
                <tr>
                  <td colspan="7">No Data Found</td>
                </tr>
                <% } %>

        </tbody>
      </table>
    </center>
    </div>


  </body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

</html>

<!-- <tr>
                <th scope="row">1</th>
                <td style="width: 60%;text-align: center;">Mark</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td style="width: 60%;text-align: center;">Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td  style="width: 60%;text-align: center;">Larry the Bird</td>
                <td>@fat</td>
              </tr>
               -->