<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Yourself</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="./css/login-register.css" />
</head>
<body class="UR-body">
    <%- include ("./components/navbar1") %> 
      <div class="container" style="display:flex;">
        <div class="col left col-md-6 home">
            <div class="best ">
              <h1 style="font-size: 4rem">The Best Car</h1>
              <h1 style="font-size: 4rem">Services</h1>
              <div>
                Thankyou , for chosing us, We are best in this business.
              </div>
            </div>
         </div>
         <div class="form_only">
        <form class="UR-form">
            <h1 style="text-align: center;" class="UR-head">Registeration Form</h1>
            <hr>
            <div class="mb-3 urf-named">
                <!-- <label for="formGroupExampleInput" class="form-label urf-name">Name</label> -->
                <input name="name" type="text" required class="form-control urf-namei" id="formGroupExampleInput" placeholder="Name">
             </div>
             <div class="mb-3 urf-named">
                 <!-- <label for="formGroupExampleInput" class="form-label urf-name">Email</label> -->
                <input name="email" type="email" required class="form-control urf-namei" id="formGroupExampleInput" placeholder="Email">
             </div>
            <div class="mb-3 urf-named">
                <!-- <label for="formGroupExampleInput" class="form-label urf-name">Email</label> -->
               <input name="text" type="mobile" required class="form-control urf-namei" id="formGroupExampleInput" placeholder="Mobile No.">
            </div>
            <div class="mb-3 urf-named"> 
                <textarea class="form-control urf-namei urf-address" aria-label="address" placeholder="Address"></textarea>
            </div>
            <div class="mb-3 urf-named">
               <input name="text" type="text" name="city" required class="form-control urf-namei" id="formGroupExampleInput" placeholder="City">
            </div>
            <div class="mb-3 urf-named">
                <input name="text" type="text" name="state" required class="form-control urf-namei" id="formGroupExampleInput" placeholder="State">
            </div>
            <div class="mb-3 urf-named">
                <input name="text" type="password" name="password" required class="form-control urf-namei" id="formGroupExampleInput" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary signupBtn" id='signupBtn'>Sign-Up</button>
            <div class="refer_back">Already have an account! <a href=<%- ("../") %>>Login</a> instead</div>
        </form>
       </div>
   
    </div>
    
</body>
<script>
    document.getElementById('signupBtn').addEventListener('click',()=>{
          window.location.href="../";
    })
</script>
 <!-- Option 1: Bootstrap Bundle with Popper -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</html>